
.container {
	max-width: 960px;
	margin: 0 auto;
};

.movieID {
	background-color: orange;
	max-width: 230px;
	max-height: 350px;
	overflow: hidden;
	display: inline-table;
}

.movieID img {
	max-width: 95%;
	max-height: 300px;
}
